<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991350024629-ovn55v7f3ogm7a6pkcl279msd1018k4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991350024629-ovn55v7f3ogm7a6pkcl279msd1018k4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBVucr461q1wkPZZWfX1BCt9foLACFWj1M</string>
	<key>GCM_SENDER_ID</key>
	<string>991350024629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApplication</string>
	<key>PROJECT_ID</key>
	<string>todo-application-c4308</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-application-c4308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991350024629:ios:2b61f573088cb8f8ed11fc</string>
</dict>
</plist>